@import "../../vars.css";

* {
  cursor: default;
}

.container {
  margin-top: 5vh;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 49px;
  z-index: 1;
  margin-inline: auto;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-primary);
  z-index: 1;

}

.heroImg {
  display: none;
  position: relative;
  width: 280px;
  height: 280px;

  top: 10px;
  z-index: 0;
  margin-bottom: 20px;
  margin-inline: auto;
  object-fit: cover;
  object-position: 100% 15%;
  align-items: center;
  background-color: red;
  border-radius: 250px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.heroBio {
  margin-inline: auto;
}

.title {
  font-size: 6vw;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: var(--color-primary);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation-name: bringInFromLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

.description {
  font-size: 1.75vw;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
  animation-name: bringInFurtherFromLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

.contactBtn {
  display: flex;
  order: 3;
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-bg);
  border-radius: 10px;
  border-bottom: 3px solid var(--color-secondary);
  border-right: 3px solid var(--color-secondary);
  font-size: 2vw;
  font-weight: 600;
  padding: 15px 26px;
  animation-name: bringInFromRight;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

.contactBtn:hover,
.contactBtn:visited {
  box-shadow: 0px 0px var(--color-bg-dark);
  transform: translate(3px, 3px);
  background-color: var(--color-secondary);
  color: white;
}

.cursor {
  height: 12px;
  width: 12px;
  margin-top: -6%;
  margin-left: -8%;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  filter: blur(40px);
}

.topBlur {
  display: flex;
  position: relative;
  width: 180px;
  height: 50vw;
  min-width: 350px;
  min-height: 350px;
  bottom: 85vh;
  right: 40vw;
  border-radius: 764px;
  background-color: var(--color-bg-dark);
  filter: blur(50px);
  z-index: 0;
}

.bottomBlur {
  display: flex;
  position: absolute;
  width: 70%;
  height: 50vw;
  min-width: 250px;
  min-height: 350px;
  top: 300px;
  right: -25vw;
  border-radius: 764px;
  background-color: var(--color-bg-dark);
  filter: blur(60px);
  z-index: 0;
}

@keyframes bringInFromRight {
  from {
    left: 110%
  }

  to {
    left: 10%
  }

}

@keyframes bringInFromLeft {
  from {
    left: -110%
  }

  to {
    left: -10%
  }

}

@keyframes bringInFurtherFromLeft {
  from {
    left: -160%
  }

  to {
    left: -10%
  }
}

/*------------MOBILE----------*/

@media only screen and (max-width:360px) {

  .cursor {
    display: none;
  }

  .container {
    margin-block: auto;
    margin-inline: auto;
    max-height: 550px;
    max-width: 280px;
    width: 80vw;
  }

  .content {
    top: 0;
    left: 0;
    right: auto;
    display: grid;
    position: relative;
    align-items: center;
    justify-items: center;
  }

  .heroImg {
    display: flex;
    position: relative;
    max-height: 240px;
    max-width: 240px;
  }

  .heroImgBlock {
    display: grid;
    align-items: center;
    width: 80vw;
  }

  .heroBio {
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-inline: auto;
    max-height: 280px;
  }


  .title {
    font-size: 1.5rem;
    position: relative;
    margin-inline: auto;
    padding-bottom: 8px;
    max-height: 30px;
  }

  .description {
    position: relative;
    font-size: 0.8rem;
    width: 70vw;
    max-width: 280px;
    margin-inline: auto;
    margin-bottom: 5%;
  }

  .contactBtn {
    position: relative;
    margin-inline: auto;
    align-items: center;
    font-size: 18px;
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }

    50% {
      transform: translate(0, 10px);
    }

    100% {
      transform: translate(0, -0px);
    }
  }
}

@media only screen and (min-width:360px) {

  .container {
    margin-block: auto;
    max-height: 750px;
    margin-inline: auto;
    padding-left: 0;
    padding-top: 0;
    max-width: 345px;
    width: 80vw;
    height: 100vh;
  }

  .content {
    top: 0;
    left: 0;
    display: grid;
    position: relative;
    align-items: center;
    justify-items: center;
  }

  .heroImg {
    display: flex;
    height: 225px;
    width: 225px;
  }

  .heroBio {
    display: grid;
    align-items: center;
    margin-bottom: 20px;
    width: 80vw;
    max-height: 260px;
  }

  .title {
    font-size: 30px;
    top: 0;
    position: relative;
    margin-inline: auto;
    margin-bottom: 20px;
    padding-bottom: 8px;
  }

  .description {
    position: relative;
    font-size: 0.8rem;
    bottom: 0px;
    width: 70vw;
    margin-bottom: 5%;
    margin-inline: auto;
  }


  .contactBtn {
    position: relative;
    right: auto;
    margin-inline: auto;
    bottom: 0;
    font-size: 18px;
    margin-bottom: 5px;
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }

    50% {
      transform: translate(0, 10px);
    }

    100% {
      transform: translate(0, -0px);
    }
  }
}

@media only screen and (min-width:390px) {

  .container {
    margin-block: auto;
    margin-top: 0;
    max-height: 750px;
    margin-inline: auto;
    width: 80vw;
    max-width: 400px;
  }

  .content {
    top: 0;
    left: 0;
    right: auto;
    display: grid;
    position: relative;
    align-items: center;
    justify-items: center;
  }

  .heroImg {
    display: flex;
    position: relative;
    max-height: 225px;
    max-width: 225px;

  }

  .heroBio {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-inline: auto;
    max-height: 300px;
  }

  .title {
    font-size: 1.8rem;
    top: 0px;
    margin-inline: auto;
    padding-bottom: 10px;
    max-height: 35px;
  }

  .description {
    font-size: 0.9rem;
    width: 70vw;
    max-width: 310px;
    margin-bottom: 5%;
    margin-inline: auto;
  }

  .contactBtn {
    right: auto;
    margin-inline: auto;
    align-items: center;
    bottom: 0;
    font-size: 24px;
    width: 200px;
  }

  .contactBtn div {
    margin-inline: auto;
  }
}

/*-------------TABLET------------*/

@media only screen and (min-width:445px) {
  .container {
    max-width: 700px;
    height: 90vh;
    max-height: 1000px;
    margin-block: auto;
  }

  .title {
    max-height: 60px;
    width: 100%;
    margin-bottom: 40px;
    font-size: 3.2rem;
  }

  .heroBio {
    left: 0;
    max-height: 50vh;
  }

  .description {
    max-width: 550px;
    font-size: 3vw;
  }

  .heroImg {
    display: none;
  }

  .contactBtn {
    border-radius: 8px;
    position: relative;
    top: 25%;
    font-size: 20px;
  }
}

/* ------------SM SCREEN----------- */

@media screen and (min-width:780px) {
  .container {
    max-width: 1000px;
  }

  .title {
    font-size: 3.5rem;
    max-height: 80px;
  }

  .description {
    max-width: 100%;
    font-size: 25px;
  }

  .contactBtn {
    top: 10%;
  }

  .heroImg {
    display: none;
  }
}

/* ----------LG SCREEN------------ */

@media screen and (min-width: 1224px) {
  .container {
    flex-direction: column;
    max-width: 1800px;
    max-height: 1400px;
  }

  .content {
    position: relative;
    margin-block: auto;
  }

  .heroBio {
    margin-top: auto;
    align-self: center;
    right: auto;
    max-width: 400px;
    max-height: 1200px;
    height: 80vh;
  }

  .title {
    margin-inline: 0;
    top: 50%;
    left: -10%;
    margin-block: auto;
    position: relative;
  }

  .cursor {
    display: initial;
  }

  .description {
    display: flex;
    position: relative;
    align-items: center;
    left: -10%;
    bottom: 0;
    margin-bottom: 10px;
    max-width: 1200px;
  }

  .heroImg {
    display: none;
  }

  .contactBtn {
    display: flex;
    position: relative;
    justify-self: end;
    max-width: 900px;
    right: -10%;
    top: -70%;
    margin-inline: 0;
    margin-block: 0;
    max-height: 200px;
  }
}