:root {
    /* Colors */
    --color-text: #fff;
    --color-text-o: #db9833;
    --color-primary: #db9833;
    --color-secondary: #142d4c;
    --color-dark: #ff6f3c;
    --color-bg: #2a6592;
    --color-bg-dark: color-mix(in srgb, var(--color-bg), #000 10%);
    --color-bg-darker: color-mix(in srgb, var(--color-bg), #000 15%);
    --color-bg-light: color-mix(in srgb, var(--color-bg), #fefefe 15%);
    /* fonts */
    --font-robot: "Roboto";
}

/*     --color-primary: #2a6592;
    --color-dark-light: color-mix(in srgb, var(--color-dark), #fefefe 15%);
    --color-secondary: #ff6f3c;
    --color-dark: #142d4c;
    --color-bg: #db9833;
    --color-bg-dark: color-mix(in srgb, var(--color-bg), #000 10%);
    --color-bg-light: color-mix(in srgb, var(--color-bg), #fefefe 20%); */